:root {
  --primary: #f03e3e;
}

::selection {
  background: var(--primary);
  color: #ffffff;
}

@font-face {
  font-family: productsans;
  src: url(../font/procductsans.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: productsans, sans-serif;
  background: rgba(0, 0, 0, .02);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
}

ul {
  list-style: none;
  padding: 0;
}

.topbar {
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  bottom: 50px;
}

.topbar-logo {
  height: 125px;
}

.topbar-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 5em;
  margin: 20px 0 0 20px;
}


.site {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.links-title {
  font-weight: 700;
  margin: 0;
  font-size: 1.5em;
}

.links {
  font-size: 1.2em;
  padding: 0;
  margin: 10px 0 0 10px;
}

.links li {
  margin: 10px 0;
}

.links li::before {
  content: '- ';
}

.content {
  margin: 0 30px;
}

.card {
  background: #ffffff;
  padding: 10px;
  margin: 30px 0;
  overflow: auto;
}
.card:first-child {
  top: 0;
}
.card:last-child {
  bottom: 0;
}

.card-title {
  font-weight: 700;
  margin: 0;
  font-size: 1.5em;
}

.card-text {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: justify;
}

.links-title {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

#file-loading {
color: var(--primary);
}

.list-content {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  width: 80%;
  padding-right: 20px;
  max-height: 120px;
  overflow-y: auto;
  overflow-x: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  background: #ffffff;
  text-align: center;
  bottom: 0;
  margin-bottom: 5px;
}

footer > div {
  margin: auto;
}

.footer-title {
  font-size: 1.2em;
  color: var(--primary);
}

#footer-links-p { 
  display: inline; 
  margin: auto;
}


.footer-li {
  display: inline-block;
  margin: auto;
}

#footer-links-middle {
  display: inline-block;
  margin-right: 60px;
  margin-left: 60px;
}

.footer-links {
  margin-bottom: 5px;
  margin-top: 5px;
}

#footer-links-last { 
  display: block;
  margin-bottom: 0px;
  margin-top: 5px;
} 

#footer-links-p { margin-left: 7px; }
.footer-personne { margin-right: 40px; }

@media only screen and (max-width: 1000px) {
  footer {
    display: inline;
    zoom: 90%;
  }
  .fcontainer {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 942px) {
  .site {
    flex-direction: column;
    align-items: center;
  }
  .site > * {
    margin: 20px 0;
    width: 100%;
    min-width: auto;
    max-width: none;
  }
}

@media only screen and (max-width: 810px) {
  .topbar-nav {
    display: flex;
    flex-direction: column;
  }
  .topbar-nav a {
    margin: 2px 0;
  }
}

@media only screen and (max-width: 436px) {
  .topbar-logo {
    display: none;
  }
  .topbar {
    flex-direction: column;
    align-items: center;
  }
  .topbar-nav {
    margin: 0 0 10px 0;
  }
}
